@import "compass";
@import "ceaser-easing";
@import "retina";

$green-color: #66CC99;
$blue-color:  #173E71;
$sky-blue:    #4BA9FA;
$coc-pink:    #ED4D84;

@import "partials/*";

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  min-height:100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
  color: #ffffff;
  font-family: "Tamil MN",Microsoft JhengHei;
  font-weight: bold;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: inherit;
}
p {
  font-family: "Tamil MN",Microsoft JhengHei;
  line-height: 1.8em;
  padding: 7px 0px;
}
.row {
  margin-left: 285px;
  background-color: transparent;
}
#sections {
  position: relative;
  height: 100%;
  display: block;
}
@media screen and (max-width: 1024px) {
  .row  { margin: 0 -15px }
}
